  <div id="<%= dom_id friend %>">
    <td>
      <%= friend.first_name %>
      <%= friend.last_name %>
    </td>
    <td><%= friend.email %></td>
    <td><%= friend.phone %></td>
    <td><%= friend.twitter %></td>
    <td><%= friend.user_id %></td>
  </div>
