<!DOCTYPE html>
<html>
  <head>
    <title>UsersAccounts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'home/header' %>
    <% if notice %>
      <%= render 'layouts/alerts' %>
    <% end %>
    <div class="container" >
      <%= yield %>
    </div>
    <%= render 'home/footer' %>
  </body>
</html>
